h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Roboto, sans-serif;
}

.main-logo {
  font-family: "playfair display", Georgia, serif;
  font-size: 5em;
  color: #fff;
  margin: 0 auto;
  transition: 0.5s all ease-out;
  text-decoration: none;
}

.navbarCustom {
  background-color: #2f2f2f;
  color: white;
}

.navbar-toggler {
  border-color: beige;
  color: white !important;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-brand {
  font-family: "Montserrat", Roboto, sans-serif;
  color: white;
}




.btn-primary {
  background-color: #c5a992;
  padding: 20px;
  border-radius: none;
  font-size: bold;
  border: none;
}
.btn-primary:hover {
  background-color: #2f2f2f;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 50%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

}

.carousel-caption > h2 {
  font-size: 3.5em !important;
  font-weight: 900;
}

.carousel-item {
  height: 80vh;
}


.portfolio-section {
  padding: 4rem 1rem;
}

.portfolio-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.buttons {
  margin-bottom: 2rem;
}

.btn {
  background-color: #333;
  border: white;
  color: #f0f0f0;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;
}

.btn:hover {
  background-color: #555;
}








@media screen and (max-width: 400px) {
  .carousel-caption > h2 {
    font-size: 2em !important;
    font-weight: 900;
  }
}
